
/**
 * Grid container
 */
#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
}

/**
 * Grid items
 */

#tiles li {
	width: 300px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: none; /** Hide items initially to avoid a flicker effect **/
	cursor: pointer;
}

#tiles a {
  text-decoration: none;
}

#tiles li img {
	display: block;
	margin: 10px 10px 10px 10px;
}

#tiles li .overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 10px 10px 10px 10px;
}

#tiles li p {
	color: #666;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
}

#tiles li h2 {
	color: #666;
	font-size: 17px;
	padding: 0px 10px 0px 10px;
	text-transform: capitalize;
}

/** Loader **/
  
#loader {
	height: 16px;
	text-align: center;
	padding: 25px 0 25px 0;
}
  
#loaderCircle {
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background-image: url('../example-api/images/loader.gif');
}
