extends navbartop

block maincontent
	.about-container
		h2 Discover and Engage with New Content
		img(src='images/companylogos.png', width='100%')
		p Mustached Bear scours your favorite websites - The New York Times, Etsy, Foursquare, bit.ly, Parse.ly, Ars Technica, Tumblr and exfm - and curates the articles, images, and snippets from these sites into one long bottomless page that you can scroll on. Because you deserve the best of online media in one place.
		hr
		h2 Made in New York
		a(href='http://hackny.org/a/')
			img(src='images/hackny-small.png', width='100%')
		p Mustached Bear was built in less than twenty four hours over late night snacks and the world's healthiest ice-cream at HackNY Spring 2013.
		hr
		h3 Technologies Used
		p JavaScript, Node.JS, Nodejitsu, Express, Jade, jQuery, HTML5, CSS3.
		strong
			a(href='https://github.com/clehner/mustached-bear', style='text-decoration: none; color: white') Visit our Github repository. 
		p No bears were harmed in the making of this webapp.
		p Charles Lehner and Kai Herng Loh
