extends layout

block head
	link(rel='stylesheet', href='stylesheets/landingpage.css')

block content
	#container
		.top-container
			img(src='images/mustache-large.png', width='80%')
		.text-container
			h1 Read the news with Mustached Bear.
		.search-container
			form.navbar-form(action='search', method='get')
				input(type='text', name='query', maxlength='35', placeholder='Type to search', autofocus='autofocus')#search
				input(type='image', src='images/searchicon.png').searchicon

	script
		if (!("autofocus" in document.createElement('search'))) {
			document.getElementById('search').focus();
		}
		
