extends layout

block head
	link(rel='stylesheet', href='stylesheets/navbar.css')
	link(rel='stylesheet', href='wookmark/custom/gridblockstyle.css')

block content
	#container
		.navbar 
			.navbar-inner 
				.img-container
					.morph
						a(href='/')
							img(src='images/bear-icon.png')
				.title-container
					a(href='about')
						h1.navbar-title Mustached Bear
				form.navbar-form(action='search', method='get')
					input(type='text', name='query', maxlength='35', placeholder='Type to search', value=query)#search
					button(type='submit')#search-button
						img(src='images/searchicon.png').searchicon
					button#config-button &#9731;
			
			#config-menu
				select(multiple)
					option(selected value='nyt') new york times
					option(selected) etsy
					option(selected) tumblr
					option(selected value='parsely') ars technica
					option(selected) bitly
					option(selected) foursquare
					option(selected) exfm
		
		#main(role='main')
			block maincontent
		
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
	script(src='wookmark/jquery.wookmark.min.js')
	script(src='wookmark/custom/loadlogic.js')
	script
		// put cursor at end of input field
		var search = document.getElementById('search');
		search.setSelectionRange(search.value.length, search.value.length);
