body {
	background-color: rgb(148,60,38);
	padding: 0;
	margin: 0;
}

.top-container {
	height: 30%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.top-container img {
	margin: 5% 10% 0% 10%;
}

.text-container {
	height: 40%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.text-container h1 {
	margin: 0% 10% 0% 10%;
	font-family: Kreon;
	font-weight: 400;
	font-size: 55px;
	text-align: center;
	color: white;
}

.search-container {
	height: 30%;
	padding: 0;
	margin: 0% 10% 0% 10%;
}

.navbar-form {
	padding: 0;
	width: 400px;
	margin: auto;
}

#search::selection {
	background:-color: transparent;
	color:white;
}

#search {
	background-color: transparent;
	font-size: 40px;
	font-family: 'Kreon';
	font-weight: 300;
	color: #C46354;
	padding: 0px 0px 0px 5px;
	margin: 8px 20px 5px 20px;
	outline: none;
	border: none;
	text-align: left;
	width: 250px;
}

#search::-webkit-input-placeholder { /* WebKit browsers */
    color: #C46354;
}
#search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #C46354;
}
#search::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #C46354;
}
#search:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #C46354;
}

#search:focus {
	border: none;
	font-weight: 400;
	outline: none;
	color: #C46354;
}

.searchicon {
	height: 25px;
	width: 25px;
	margin: 11px 0 0 0;
	padding: 0;
	vertical-align: top;
}