.navbar {
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	background-color: orange; 
	z-index: 1030;
	margin: 0;
}

.navbar-inner{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 20px;
	height: 50px;
}

/* image */
.img-container {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0px;
}

.img-container img {
	height: 35px;
	width: 35px;
	margin: 0;
	padding: 7px;
}

/*MORPH*/
.morph {
  -webkit-transition: all 1.5s ease;
     -moz-transition: all 1.5s ease;
       -o-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
          transition: all 1.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* title */
.title-container{
	width: 250px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 0px 20px;
	float: left;
}

.navbar-title{
	margin: 0px 10px 0px 10px;
	padding: 2px 0px 2px 0px;
}

h1.navbar-title {
	font: 35px 'Kreon';
	font-weight: bold;
	color: #731C0A;
	margin: 0px 0px 0px 0px;
}

h1.navbar-title:hover {
	color: black;
	font-size: 37px;
	margin: -1px 0px 0px -2px;
}

/* form */
.navbar-form {
	margin: 2px 0px 0px 0px;
	padding: 0;
	float: right;
}

#search::selection {
	background:#80441F;
}

#search {
	background-color: transparent;
	height: 30px;
	font-size: 25px;
	font-family: 'Kreon';
	font-weight: 300;
	color: #80441F;
	padding: 0px 0px 0px 5px;
	margin: 8px 20px 5px 20px;
	outline: none;
	border: none;
	float: left;
	text-align: right;
}

#search::-webkit-input-placeholder { /* WebKit browsers */
    color: #C46354;
}
#search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #C46354;
}
#search::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #C46354;
}
#search:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #C46354;
}

#search:focus {
	border: none;
	font-weight: 400;
	outline: none;
	color: #BA2711;
}

.searchicon {
	height: 25px;
	width: 25px;
	margin: 11px 0 0 0;
	padding: 0;
	vertical-align: top;
}

#search-button,
#config-button {
	border: 0;
	background: transparent;
	margin: 0;
	padding: 0;
}

/* Config menu */
#config-button {
  font-size: 3em;
  display: inline-block;
  vertical-align: top;
  margin-left: .4em;
}
#config-menu {
  display: none;
  position: absolute;
  top: 4em;
  right: 1em;
}

#config-menu select {
	height: 9em;
}
