/** General page styling **/
  
html {
	background-color: #e9e9e9;
}

body {
	padding-top: 60px;
}

#main {
	padding: 30px 0px 30px 0;
}

header h1 {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
}

header p {
	text-align: center;
	font-size: 13px;
	color: #777;
	margin: 0;
}

header h1 {
	font: 40px 'Kreon';
}

body {
  font-family: Vollkorn, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}